#heading-label {
    font-size: 50px;
    color: #FFA500;
}

#custom-button {
    color: #FFFFFF;
    background-color: #002299;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

#custom-button:hover {
    background-color: #0055FF;
}

#custom-button:active {
    background-color: #001177;
}
